{
  "parser": "@typescript-eslint/parser",
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType":  "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "comma-dangle": ["error", "always-multiline"],
    "import/prefer-default-export": "off"
  }
}
