language: node_js
addons:
  apt:
    packages:
    - xsel
    - xvfb
node_js:
  - '13'
  - '12'
  - '10'
os:
  - linux
  - osx
  - windows
env:
  global:
    - CC_TEST_REPORTER_ID=7224dfa80ac316eaffa0c0d753c472d455d995ac1a10dd2ff66462ad48b70577

install:
  - npm ci
  - npm run build

before_script:
  - |
    npm link
    if [ "$TRAVIS_OS_NAME" = "linux"   ]; then
      curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter;
      chmod +x ./cc-test-reporter;
      ./cc-test-reporter before-build;
    fi

script:
  - commitlint-travis
  - npm run linter
  - if [ "$TRAVIS_OS_NAME" = "linux"   ]; then   xvfb-run npm run test:coverage   ; fi
  - if [ "$TRAVIS_OS_NAME" = "osx"     ]; then        npm run test:coverage       ; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then        npm run test:coverage       ; fi

after_script:
  - |
    if [ "$TRAVIS_OS_NAME" = "linux"   ]; then
      ./cc-test-reporter upload-coverage -r $CC_TEST_REPORTER_ID;
      ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT;
    fi

jobs:
  include:
    - stage: deploy
      if: (NOT type IN (pull_request)) AND (branch = master)
      script: npm run semantic-release
